<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>

</head>
<body>
    <div layout:fragment="page_content">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    Products List
                </div>
                <div class="card-body">
                    <form method="get" th:action="@{products}">
                        <div class="form-group float-end">
                            <label>Keyword</label>
                            <input type="text" name="keyword">
                            <button class="btn btn-success">Chercher</button>
                        </div>
                    </form>
                    <table class="table">
                        <tr>
                            <th>Ref</th>
                            <th>Label</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                        <tr th:each="p:${products}">
                            <td th:text="${p.ref}"></td>
                            <td th:text="${p.label}"></td>
                            <td th:text="${p.description}"></td>
                            <td th:text="${p.creation_date}"></td>
                            <td th:text="${p.price}"></td>
                            <td th:text="${p.quantity}"></td>
                        </tr>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" th:href="@{products(page=${current_page-1})}">Previous</a></li>
                            <li th:each="page,status:${pages}" class="page-item">
                                <a th:text="${status.index}" th:href="@{products(page=${status.index})}" class="page-link">
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" th:href="@{products(page=${current_page+1})}">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>